*.json
!viewer/package.json
!viewer/package-lock.json
!viewer/tsconfig.json

*.scad
*.stl

*.dxf
*.pdf

*.png
*.svg

*.pyc
__pycache__/

*.*~
*.swp

.venv/
.ruff_cache/
.pytest_cache/

mise.local.toml

build/
viewer/data/
viewer/dist/
viewer/node_modules/
